simplewiki-20160203-pages-meta-current.xml*
mwparserfromhell
output_*
*.orig
README.md
__pycache__
combine_jeopardy.py
dl_wiki.sh
jeopardy_count.py
jeopardy_question
jeopardy_results
nn_output_combined
nn_output_new
output
parse_output.py
parsed_output_format
qa_files_no_replacement
qa_jeopardy_parser.py
qa_wiki_parser.py
question_answer_pairs
question_answer_test_pairs
question_status
run_main.sh
run_parser.sh
split_jeopardy.py
test_nn
test_parser.sh
test_wiki.xml
unzip_wiki.sh
wiki.dat
wiki_nlp_util.py
wiki_nlp_util.pyc
*
